:root {
--Lightpink:  #F8EEFF;
--Grayishpurple: #8B6990;
--Darkpurple: #301534;
--white: #FFF;
--pink: #AD28EB
}

body {
    margin: 0;
    width: 100vw;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    background-color: var(--Lightpink);
    overflow-x: hidden;
}

header > img {
    width: 100%;
}
.header-image2 {
    display: none;
}
.out {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container {
    margin: -10% 0 10% 0;
    padding: 40px;
    background-color: var(--white);
    width: 60vw;
    height: auto;
    border-radius: 16px;
}
.header-container > img {
    margin-right: 15px;
}
.header-container, .question-image{
    display: inline-flex;
    width: 100%;
}
.question-image {
    justify-content: space-between;
}

h3 {
    color: var(--Darkpurple);
    width: 85%;
}
h3:hover {
    color: var(--pink);
}
.text-hide {
    color: var(--Grayishpurple);
}


@media (min-width: 100px) and (max-width: 600px) {
   .header-image {
    display: none;
   }
   .header-image2 {
    display: block;
   }
    .card-container {
        margin-top: -35%;
        width: 70vw;
        padding: 24px;
    }
    
h3 {
    font-size: 16px;
}

.text-hide {
   font-size: 14px;
}

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }