:root {
--Lightpink:  #F8EEFF;
--Grayishpurple: #8B6990;
--Darkpurple: #301534;
--white: #FFF;
--pink: #AD28EB
}

body {
    margin: 0;
    width: 100vw;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    background-color: var(--Lightpink);
    overflow-x: hidden;
    
}

header > img {
    width: 100%;
}

.card-container {
    position: relative;
    top: -100px;
    padding: 40px;
    background-color: var(--white);
    width: 60vw;
    height: auto;
    margin: 0 auto;
    border-radius: 16px;
}
.header-container > img {
    margin-right: 15px;
}
.header-container, .question-image{
    display: inline-flex;
    width: 100%;
}
.question-image {
    justify-content: space-between;
}
h1 {
    font-size: 3vw;
}
h3 {
    color: var(--Darkpurple);
    font-size: 1.5vw;
}
h3:hover {
    color: var(--pink);
}
.text-hide {
    color: var(--Grayishpurple);
    font-size: 1.3vw;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }